<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LoggingApplicationModel" connectionString="metadata=res://*/LogModel.csdl|res://*/LogModel.ssdl|res://*/LogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LTIT77;initial catalog=LoggingApplication;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>